@model EHR_MVC.DTOs.UserDataDTOs.UserInsuranceDTOS.UserInsuranceDTO

@{
    ViewData["Title"] = "Delete";
}
<br />
<hr />
<h2 style="text-align:center">Are you sure you want to delete this Insurance?</h2>
<hr />
<br />
 
<div class="col-md-5 m-auto">
    <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.InsuranceNo)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.InsuranceNo)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.InsuranceType)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.InsuranceType)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.InsuranceOrganizationName)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.InsuranceOrganizationName)
        </dd>  
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.RelationshipWithOrganization)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.RelationshipWithOrganization)
        </dd>
    </dl>
    
    <form asp-action="Delete">
         <div class="form-group m-3 p-3">
                <input type="submit" value="Delete" class="btn btn-danger" /> ||
        <a asp-action="Index">Back to List</a>
            </div>
    </form>
</div>
