@model EHR_MVC.DTOs.HealthFacilityDTOs.HealthFacilityDTOForOthers

@{
    ViewData["Title"] = "Delete";
}

<br />
<hr />
<h2 style="text-align:center">Are you sure you want to delete this Health Facility?</h2>
<hr />
<br />
 
<div class="col-md-5 m-auto">
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.SubordinateTo)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.SubordinateTo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
