@model EHR_MVC.DTOs.GovernorateDTOs.GovernorateDTO

@{
    ViewData["Title"] = "Details";
}
 
<br />
<hr />
<h1 style="text-align:center">Details of the Governorate</h1>
<hr />
<br />

<div class="col-md-5 m-auto">
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UpdateddAt)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UpdateddAt)
        </dd>
    </dl>

    <div class="form-group m-3 p-3">
         <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> ||
   <a asp-action="Index">Back to List</a>
    </div>
</div>
 